.nav{
    margin: 0rem 3rem;
    align-items: left;
    button{
        padding: 0.5rem 1rem;
        margin: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
        background-color: #EBECF0;
    }
    button:hover{
        background-color: #dddee2;
    }
    
    .title{
        text-align: center;
        h1{
            font-family: 'Inter', sans-serif;
            color: white;
            padding: 2rem;
        }
    }
}